APP_NAME=Udyog Setu API
APP_VERSION=0.1.0
ENVIRONMENT=development
DEBUG=true

API_V1_PREFIX=/api/v1

FRONTEND_ORIGINS=http://localhost:3000

MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=udyogsetu