# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.env.*

!.env.example

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# IDE files
.vscode/
.idea/